Flask>=3.0.0
google-cloud-firestore>=2.18.0
google-cloud-storage>=2.18.0
google-cloud-videointelligence>=2.17.0
google-cloud-vision>=3.8.0
opencv-python-headless>=4.10.0
numpy>=1.26.0
scipy>=1.13.0
librosa>=0.10.2
moviepy>=1.0.3
gunicorn>=21.2.0
setuptools>=70.0.0

